.FeedwebPostDataTable 
{
	border-collapse: collapse;
	border-style: none;
}

.FeedwebPostDataTable tbody 
{
	border-top: 0px; 
	border-left: 0px; 
	border-style: none;
}

.FeedwebPostDataTable tbody tr 
{
	border-top: 0px; 
	border-left: 0px; 
	border-style: none;
}

.FeedwebPostDataTable tbody tr td 
{
	vertical-align: middle;
	text-align: center;
	border-bottom-style: none; 
	border-top-style: solid; 
	padding: 0 0 0 0;
}

.FeedwebSettingsTab
{
	width: 270px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
	
    border: 1px solid #C0C0C0;
	border-bottom-style: none;
    
	display: block;
    float: left;
    height: 18px;
    margin: 0 10px 0 0;
    padding: 6px 8px;
    text-decoration: none;	
}

.FeedwebSettingsContent td
{
	border: 1px solid #C0C0C0;
	border-bottom-style: none;
}

.FeedwebSettingsCommitButton td
{
	background-color: #E0E0FF;
	border: 1px solid #C0C0C0;
	border-top-style: none;
	padding: 8px 8px 8px 8px;
}

.FeedwebSettingsTable tr
{
	height: 32px;
}

.FeedwebSettingsTable td
{
	border-color: #C0C0C0;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#PurgeInactiveWidgetsButton
{
	background-color: #ff0000;
	border-radius: 12px;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: #ffffff;
	float: right;
}

#WidgetTypeFlashRadio
{
	margin-bottom: 10px;
}